/* Estilos para semáforo */
.traffic-light-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.traffic-light-soporte {
  width: 50px;
  height: 200px;
  background-color: black;
  margin-bottom: 10px;

} 
  
  .traffic-light-box {
    width: 150px;
    height: 460px;
    background-color: black;
    border-radius: 15px;
    padding: 10%;
    display: flex;
    justify-content: space-around;
  }

/* Estilo para las luces del semáforo */
.traffic-light-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 10px;
    background-color: color;
  }
  
  .rojo {
    background-color: red;
  }
  
  .amarillo {
    background-color: yellow;
  }
  
  .verde {
    background-color: rgb(20, 219, 20);
  }

  .ilumina {
    box-shadow: 0 0 30px #ffeded;
  }
