
.traffic-light-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(104, 91, 91, 0.5);
    margin-top: 10px;
    background-color: color;
  }
  
  .rojo {
    background-color: red;
  }
  
  .amarillo {
    background-color: yellow;
  }
  
  .verde {
    background-color: green;
  }
  
  /* Estilos para la caja negra del semáforo */
  .traffic-light-box {
    width: 140px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
  }

  .ilumina {
    box-shadow: 0 0 30px #ffeded;
  }
